In [2]:
import pandas as pd

In [4]:
data=pd.read_csv("C:\\Users\\devik\\Downloads\\sales\\supermarket_sales - Sheet1.csv")
data.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [10]:
#Data Cleaning
print(data.isnull().sum())
data=data.dropna()
print(data.duplicated().sum())
data=data.drop_duplicates()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [29]:
#Data Transformation
data = data.sort_values(by='Date')
data.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
496,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,1/1/2019,15:51,Cash,126.44,4.761905,6.322,8.5
856,770-42-8960,B,Mandalay,Normal,Male,Food and beverages,21.12,8,8.448,177.408,1/1/2019,19:31,Cash,168.96,4.761905,8.448,6.3
829,416-17-9926,A,Yangon,Member,Female,Electronic accessories,74.22,10,37.110,779.310,1/1/2019,14:42,Credit card,742.20,4.761905,37.110,4.3
245,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.036,399.756,1/1/2019,14:47,Cash,380.72,4.761905,19.036,5.7
696,182-52-7000,A,Yangon,Member,Female,Sports and travel,27.04,4,5.408,113.568,1/1/2019,20:26,Ewallet,108.16,4.761905,5.408,6.9

In [33]:
health_beauty = data[data['Product line'] == 'Health and beauty']
health_beauty

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
523,133-14-7229,C,Naypyitaw,Normal,Male,Health and beauty,62.87,2,6.2870,132.0270,1/1/2019,11:43,Cash,125.74,4.761905,6.2870,5.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
448,296-11-7041,B,Mandalay,Member,Female,Health and beauty,27.07,1,1.3535,28.4235,1/12/2019,20:07,Credit card,27.07,4.761905,1.3535,5.3
418,848-07-1692,B,Mandalay,Normal,Female,Health and beauty,57.22,2,5.7220,120.1620,1/12/2019,17:13,Ewallet,114.44,4.761905,5.7220,8.3
927,397-25-8725,A,Yangon,Member,Female,Health and beauty,39.62,9,17.8290,374.4090,1/13/2019,17:54,Credit card,356.58,4.761905,17.8290,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,423-64-4619,A,Yangon,Member,Female,Health and beauty,15.55,9,6.9975,146.9475,3/7/2019,13:12,Cash,139.95,4.761905,6.9975,5.0
134,483-71-1164,C,Naypyitaw,Normal,Female,Health and beauty,81.30,6,24.3900,512.1900,3/8/2019,16:43,Ewallet,487.80,4.761905,24.3900,5.3
145,458-41-1477,C,Naypyitaw,Normal,Female,Health and beauty,46.26,6,13.8780,291.4380,3/8/2019,17:11,Credit card,277.56,4.761905,13.8780,9.5
234,157-13-5295,A,Yangon,Member,Male,Health and beauty,51.94,10,25.9700,545.3700,3/9/2019,18:24,Ewallet,519.40,4.761905,25.9700,6.5
585,127-47-6963,A,Yangon,Normal,Male,Health and beauty,51.71,4,10.3420,217.1820,3/9/2019,13:53,Credit card,206.84,4.761905,10.3420,9.8

In [37]:
Normal_Customer=data[data['Customer type']=="Normal"]
Normal_Customer

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
496,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,1/1/2019,15:51,Cash,126.44,4.761905,6.322,8.5
856,770-42-8960,B,Mandalay,Normal,Male,Food and beverages,21.12,8,8.448,177.408,1/1/2019,19:31,Cash,168.96,4.761905,8.448,6.3
17,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.783,457.443,1/1/2019,10:39,Credit card,435.66,4.761905,21.783,6.9
523,133-14-7229,C,Naypyitaw,Normal,Male,Health and beauty,62.87,2,6.287,132.027,1/1/2019,11:43,Cash,125.74,4.761905,6.287,5.0
567,651-88-7328,A,Yangon,Normal,Female,Fashion accessories,65.74,9,29.583,621.243,1/1/2019,13:55,Cash,591.66,4.761905,29.583,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,841-35-6630,C,Naypyitaw,Normal,Female,Electronic accessories,75.91,6,22.773,478.233,3/9/2019,18:21,Cash,455.46,4.761905,22.773,8.7
755,652-43-6591,A,Yangon,Normal,Female,Fashion accessories,97.29,8,38.916,817.236,3/9/2019,13:18,Credit card,778.32,4.761905,38.916,6.2
424,489-64-4354,C,Naypyitaw,Normal,Male,Fashion accessories,16.28,1,0.814,17.094,3/9/2019,15:36,Cash,16.28,4.761905,0.814,5.0
585,127-47-6963,A,Yangon,Normal,Male,Health and beauty,51.71,4,10.342,217.182,3/9/2019,13:53,Credit card,206.84,4.761905,10.342,9.8
626,816-57-2053,A,Yangon,Normal,Male,Sports and travel,60.87,2,6.087,127.827,3/9/2019,12:37,Ewallet,121.74,4.761905,6.087,8.7

In [49]:
#Aggregation
# Average sales per product line
average_sales_per_product = data.groupby('Product line')['Total'].mean()

# Sales counts per region
sales_counts_per_region = data.groupby('Branch')['Total'].count()


print("\nAverage Sales Per Product Line:")
print(average_sales_per_product)

print("\nSales Counts Per Region:")
print(sales_counts_per_region)

Average Sales Per Product Line:
Product line
Electronic accessories    319.632538
Fashion accessories       305.089298
Food and beverages        322.671517
Health and beauty         323.643020
Home and lifestyle        336.636956
Sports and travel         332.065220
Name: Total, dtype: float64

Sales Counts Per Region:
Branch
A    340
B    332
C    328
Name: Total, dtype: int64

In [39]:
print(data.describe(include='all'))

         Invoice ID Branch    City Customer type  Gender         Product line  \
count          1000   1000    1000          1000    1000                 1000
unique         1000      3       3             2       2                    6
top     556-97-7101      A  Yangon        Member  Female  Fashion accessories
freq              1    340     340           501     501                  178
mean            NaN    NaN     NaN           NaN     NaN                  NaN
std             NaN    NaN     NaN           NaN     NaN                  NaN
min             NaN    NaN     NaN           NaN     NaN                  NaN
25%             NaN    NaN     NaN           NaN     NaN                  NaN
50%             NaN    NaN     NaN           NaN     NaN                  NaN
75%             NaN    NaN     NaN           NaN     NaN                  NaN
max             NaN    NaN     NaN           NaN     NaN                  NaN

         Unit price     Quantity       Tax 5%        Total      Date   Time  \
count   1000.000000  1000.000000  1000.000000  1000.000000      1000   1000
unique          NaN          NaN          NaN          NaN        89    506
top             NaN          NaN          NaN          NaN  2/7/2019  14:42
freq            NaN          NaN          NaN          NaN        20      7
mean      55.672130     5.510000    15.379369   322.966749       NaN    NaN
std       26.494628     2.923431    11.708825   245.885335       NaN    NaN
min       10.080000     1.000000     0.508500    10.678500       NaN    NaN
25%       32.875000     3.000000     5.924875   124.422375       NaN    NaN
50%       55.230000     5.000000    12.088000   253.848000       NaN    NaN
75%       77.935000     8.000000    22.445250   471.350250       NaN    NaN
max       99.960000    10.000000    49.650000  1042.650000       NaN    NaN

        Payment        cogs  gross margin percentage  gross income      Rating
count      1000  1000.00000             1.000000e+03   1000.000000  1000.00000
unique        3         NaN                      NaN           NaN         NaN
top     Ewallet         NaN                      NaN           NaN         NaN
freq        345         NaN                      NaN           NaN         NaN
mean        NaN   307.58738             4.761905e+00     15.379369     6.97270
std         NaN   234.17651             6.131498e-14     11.708825     1.71858
min         NaN    10.17000             4.761905e+00      0.508500     4.00000
25%         NaN   118.49750             4.761905e+00      5.924875     5.50000
50%         NaN   241.76000             4.761905e+00     12.088000     7.00000
75%         NaN   448.90500             4.761905e+00     22.445250     8.50000
max         NaN   993.00000             4.761905e+00     49.650000    10.00000